<section class="tst-home-catalog">
    <div class="tst-home-catalog__bg">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
             data-src="img/bg-main.png" alt="">
    </div>
    <div class="container">
        <div class="tst-home-catalog-wrapper">
            <div class="tst-home-catalog-wrapper__title">
                <h1>WINTAC - магазин військової амуніції</h1>
                <a class="catalog-link">
                    Перейти в повний каталог
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/arrow.png" alt="">
                </a>
            </div>
            <div class="tst-home-catalog-wrapper__category">
                <a href="#" class="category-item col-1">
                    <div class="category-item__img">
                        <img class="desc-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/product1.png" alt="">
                        <img class="mob-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/mob-1.png" alt="">
                    </div>
                    <div class="category-item__text">
                        <h3>Екіпірування і спорядження</h3>
                        <div class="link">
                            Детальніше
                            <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/arrow-a.svg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="category-item col-2">
                    <div class="category-item__img">
                        <img class="desc-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/product3.png" alt="">
                        <img class="mob-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/mob-3.png" alt="">

                    </div>
                    <div class="category-item__text">
                        <h3>Одяг</h3>
                        <div class="link">
                            Детальніше
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/arrow-a.svg" alt="">
                        </div>
                    </div>
                </a>

                <a href="#" class="category-item col-2">
                    <div class="category-item__img">
                        <img class="desc-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/product2.png" alt="">
                        <img class="mob-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/mob-2.png" alt="">

                    </div>
                    <div class="category-item__text">
                        <h3>Взуття</h3>
                        <div class="link">
                            Детальніше
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/arrow-a.svg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="category-item col-3">
                    <div class="category-item__img">
                        <img class="desc-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/product4.png" alt="">
                        <img class="mob-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/mob-4.png" alt="">

                    </div>
                    <div class="category-item__text">
                        <h3>Ножі, ліхтарі, біноклі</h3>
                        <div class="link">
                            Детальніше
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/arrow-a.svg" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>

<!--        <svg><use xlink:href="#tst-icon-name"></use></svg>-->
<!--        -->
<!--        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"-->
<!--            data-src="img/product1.jpg" alt="">-->
    </div>
</section>

